{lib_dirs, ["deps"]}.

{erl_opts, [
                                                % native,
            debug_info, 
            fail_on_warning, 
            {parse_transform, lager_transform}
           ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
        {lager, "2.*", {git, "git://github.com/basho/lager", {tag, "2.0.0"}}},
        {ranch, ".*", {git, "git://github.com/extend/ranch.git", {tag, "0.8.4"}}},
        {meck, ".*", {git, "https://github.com/eproxus/meck.git", "master"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
        {oauth2c, ".*", {git, "git://github.com/kivra/oauth2_client", "master"}}
       ]}.
